<%# user item table %>

<tr class="Polaris-DataTable__TableRow">
  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row"><%= user.name %></th>
  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn"><%= time_ago_in_words(user.updated_at) %> <%= t('.time_ago') %></th>
  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
    <div class="icon-edit">
      <% markup = render "shared/icon", type: :edit %>
      <%= link_to markup, edit_user_path(user), class: 'link-edit' %>
    </div>
  </td>
  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
    <div class="icon-delete">
      <% markup = render "shared/icon", type: :delete %>
      <%= link_to markup, user_path(user.id), class: 'link-delete', data: { method: 'delete', confirm: t('common_words.are_you_sure') }%>
    </div>
  </td>
</tr>
