<%
=begin
%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>




<%
=end
%>
<%= render 'shared/page_title', title: "Users" %>

<%# check for cart items %>
<% content_for :main_heading_action_button do %>
<%
=begin
%>

  <%= render "shared/button", text: "Empty Cart", link: @cart, style_class: 'Polaris-Button--destructive', method: :delete %>

<%
=end
%>
  <%= render "shared/button", text: "Add User", link: new_user_path, style_class: 'Polaris-Button--primary'%>
<% end %>
<%= render 'table', title: "Users" %>
