<%# polaris button %>

<%
=begin
%>

# using local variables: optional
- text
- link
- style_class
- method

<%
=end
%>

<div class="Polaris-ButtonGroup__Item">
  <%# check passed variables %>
  <% use_method = local_assigns[:method] || :get %>
  <% use_style_class = '' %>    
  <% use_style_class = ' ' + local_assigns[:style_class] if local_assigns[:style_class] %>    
  <%# button %>
  <%# disabled? %>
  <% 
    if local_assigns[:active_button] && local_assigns[:active_button] === false 
      use_disabled = false
    else
      use_disabled = true
    end
  %>

  <% if use_disabled %>
    <%= link_to local_assigns[:link], method: use_method do %>
      <button type="button" class="Polaris-Button<%= use_style_class %>"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"><%= local_assigns[:text] %></span></span></button>
    <% end %>
  <% else %>
    <button type="button" class="Polaris-Button<%= use_style_class %>"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"><%= local_assigns[:text] %></span></span></button>
  <% end %>
</div>
