<%# polaris button %>

<div class="Polaris-ButtonGroup__Item">
  <% button_properties = button_to_show(local_assigns) %>
  <% case button_properties[:type] %>
  <% when :disabled %>
    <%= render "shared/button_markup", button_properties: button_properties %>
  <% when :delete %>
    <%= link_to local_assigns[:link], data: { method: 'delete', confirm: 'Are you sure?' }, remote: button_properties[:remote] do %>
      <%= render "shared/button_markup", button_properties: button_properties %>
    <% end %>
  <% else  %>
    <%= link_to local_assigns[:link], method: button_properties[:type], remote: button_properties[:remote] do %>
      <%= render "shared/button_markup", button_properties: button_properties %>
    <% end %>
  <% end %>
</div>
