<%# polaris button %>

<div class="Polaris-ButtonGroup__Item">
  <%# check passed variables %>
  <% use_method = local_assigns[:method] || :get %>
  <% use_style_class = '' %>    
  <% use_style_class = ' ' + local_assigns[:style_class] if local_assigns[:style_class] %>    
  <%# button %>
  <%# disabled? %>
  <% 
    if local_assigns[:active_button] && local_assigns[:active_button] === false 
      enabled = false
    else
      enabled = true
    end
  %>

  <%# enabled button %>
  <% if enabled %>
    <%# delete button? %>
    <% if use_method == :delete %>
      <%= link_to local_assigns[:link], data: {method: 'delete', confirm: 'Are you sure?'} do %>
        <button type="button" class="Polaris-Button<%= use_style_class %>"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"><%= local_assigns[:text] %></span></span></button>
      <% end %>
    <% else %>
      <%= link_to local_assigns[:link], method: use_method do %>
        <button type="button" class="Polaris-Button<%= use_style_class %>"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"><%= local_assigns[:text] %></span></span></button>
      <% end %>
    <% end %>
  <% else %>
    <button type="button" class="Polaris-Button<%= use_style_class %>"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"><%= local_assigns[:text] %></span></span></button>
  <% end %>
</div>
