<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @product.errors.count, model: t('activerecord.models.product')) %>.</h2>
      
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= raw(message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, t('.description') %>
    <%= form.text_area :description, id: :product_description, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :image_url, t('.image_url') %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :price, t('.price') %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit t(get_form_submit_button_label_text(action_name)) %>
  </div>
<% end %>
