<%# product card %>

<%# display card %>
<% cache @product do %>
  <div class="product-card Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Section">
        <div class="product-card__image">
          <%= image_tag(product.image_url) %>
          <p>&nbsp;</p>
          <p class="product-card__price"><%= number_to_currency(product.price, unit: "€") %></p>
          <p>&nbsp;</p>
          <h2 class="Polaris-Heading"><%= product.title %></h2>
        </div>
      </div>
      <div class="Polaris-Card__Section">
        <p class="product-card__description Polaris-TextStyle--variationSubdued"><%= formatted_description(product.description) %></p>
      </div>

      <%# are we showing the editing links? %>
      <% if local_assigns[:manage] %>
        <div class="Polaris-Card__Section">
          <%= render "products/product_manage", product: product %>
        </div>
      <% end %>      

      <%# are we showing the cart links? %>
      <% if local_assigns[:public] %>
        <div class="Polaris-Card__Section">
          <%= render "products/product_public", product: product %>
        </div>
      <% end %>      

    </div>
  </div>
<% end %>
