<%# admin navigation %>

<li class="Polaris-Navigation__ListItem">
  <button type="button" class="Polaris-Navigation__Item">
    <div class="Polaris-Navigation__Icon">
      <%= render "shared/icon", type: :products %>
    </div>
    
    <%= link_to "Manage Products", products_path, class:
    "Polaris-Navigation__Text" %>
  </button>
</li>

<li class="Polaris-Navigation__ListItem">
  <button type="button" class="Polaris-Navigation__Item">
    <div class="Polaris-Navigation__Icon">
      <%= render "shared/icon", type: :orders %>
    </div>
    <%= link_to "Manage Orders", orders_path, class: "Polaris-Navigation__Text"
    %>
  </button>
</li>

<li class="Polaris-Navigation__ListItem">
  <button type="button" class="Polaris-Navigation__Item">
    <div class="Polaris-Navigation__Icon">
      <%= render "shared/icon", type: :users %>
    </div>
    <%= link_to "Manage Users", users_path, class: "Polaris-Navigation__Text" %>
  </button>
</li>
