<%# navigation %>

<nav class="Polaris-Navigation">
  <div class="Polaris-Navigation__PrimaryNavigation">
    
    <%# section %>
    <ul class="Polaris-Navigation__Section">

      <li class="Polaris-Navigation__ListItem">
        <button type="button" class="Polaris-Navigation__Item">
          <%= render "layouts/navigation_icon", type: :home %>
          <%= link_to "The Catalogue", store_index_path, class: "Polaris-Navigation__Text" %>
        </button>
      </li>

      <li class="Polaris-Navigation__ListItem">
        <button type="button" class="Polaris-Navigation__Item">          
          <%= render "layouts/navigation_icon", type: :products %>
          <%= link_to "Products", products_path, class: "Polaris-Navigation__Text" %>
        </button>
      </li>

      <li class="Polaris-Navigation__ListItem">
        <button type="button" class="Polaris-Navigation__Item">          
          <%= render "layouts/navigation_icon", type: :cart %>      
          <%= link_to "My Cart", my_cart_path, class: "Polaris-Navigation__Text" %>
        </button>
      </li>

    </ul>
    <%# section %>

  </div>
</nav>
