<!DOCTYPE html>
<html>
  <head>
    <title>SupportZoomDepot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.13.1/styles.min.css" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%# page %>
    <div class="Polaris-Page Polaris-Page--fullWidth">
      <div class="Polaris-Page__Content">
        
        <%# layout %>
        <div class="Polaris-Layout">

          <%# section %>
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">
                <div class="Polaris-Page__Title">
                    <div>
                        <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge"><%= yield :main_heading %></h1>
                    </div>
                </div>
            </div>
          </div>

          <%# section %>
          <div class="Polaris-Layout__Section Polaris-Layout__Section">
            <%# flash messages %>
            <%= render "flash_messages/flash_messages" %>
          </div>

        </div>

        <%# what kind of controller is this? %>
        <div class='<%= controller.controller_name %>'>
          <%= yield %>                          
        </div>

      </div>
      
    </div>

  </body>
</html>
